<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is a homepage </h1>
    <h3> For using the model: </h3>
    <h5> 1. Train the model : </h5>
    <form action="{{ url_for('train') }}" method="get">
        <button type="submit">Train</button>
    </form>
    <h5> 2. Predict:  </h5>
    <form action="{{ url_for('predict') }}" method="get">
        <button type="submit">Predict</button>
    </form>
</body>
</html>